body {
  background: var(--color-bg);
  font-family: var(--font-family);
  color: var(--color-text-primary);
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}
